<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de la création d'un nouvel événement</title>
    
</head>
<body>
    <div class="container">
        <h1>Confirmation de la création d'un nouvel événement</h1>
        <p>Vous avez créer un nouvel événement, vous pouvez le retrouver ici : </p>
        <a href="http://localhost:5173/" class="button">View Event</a>
    </div>
</body>
</html>
